.content {
  display: grid;
  grid-gap: 24px;
  grid-template-rows: max-content max-content 20px max-content 1fr;
  align-items: center;
}

.topic {
  color: var(--seagreen);
}

.or {
  font-size: 12px;
  text-align: center;
  color: var(--medium-gray);
  margin: -8px 0;
}

.fileInput {
  height: max-content;
}

.card {
  background-color: var(--bg-color);
  display: grid;
  grid-gap: 4px;
  padding: 8px 16px;
  margin-top: -12px;
  border-radius: 8px;
  color: var(--black);
  font-size: 14px;
}

.card__question {
  font-family: var(--brand-font-family) !important;
}
