.content {
  display: grid;
  grid-gap: 24px;
  grid-template-rows: max-content max-content 20px max-content 1fr;
  align-items: center;
}

.topic {
  color: var(--seagreen);
}

.or {
  font-size: 12px;
  text-align: center;
  color: var(--medium-gray);
  margin: -8px 0;
}
