.container {
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.content {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}

@media (max-width: 700px) {
  .content {
    width: 100vw;
    max-width: unset;
    margin-left: -20px;
  }
}

.loader {
  margin: auto;
}
