.container {
  position: relative;
  z-index: 100;
}

.content {
  position: absolute;
  top: 0;
  left: -50px;
  padding: 40px 60px 30px 50px;
  display: grid;
  grid-gap: 16px;
  background-color: var(--white);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease-in-out;
}

.content[aria-hidden="true"] {
  transform: translateX(-110%);
}

.loader {
  margin-top: 16px;
}

.topicsList {
  max-height: 25vh;
  overflow-y: auto;
  margin: 8px 0 0;
  display: grid;
  grid-gap: 4px;
}

.topicsDivider {
  color: var(--medium-gray);
  margin-top: 16px;
}

.topic {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: var(--brand-font-family);
  font-size: 18px;
  color: var(--seagreen);
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.topic:hover {
  opacity: 1;
}

.topic[aria-selected="true"] {
  opacity: 1;
}

.topic__menu {
  transition: transform 0.2s ease-in-out;
}

.topic__menu[aria-hidden="true"] {
  transform: scale(0);
}

.control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control__toggle {
  margin: 10px -10px;
  color: var(--medium-gray);
}

.addContainer {
  display: grid;
  grid-gap: 4px;
}

.addButton {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  margin-left: -8px;
  text-transform: lowercase;
}

.addButton__title {
  border-bottom: 1px solid;
  line-height: 20px;
}

.add__form {
  display: grid;
  gap: 8px;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
