.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.arrowControl {
  color: var(--black);
}

.counter {
  color: var(--dark-gray);
}

.counter__total,
.counter__input {
  display: inline-block;
  width: 8ch;
  padding: 0 4px;
}

.counter__input {
  font: inherit;
  border: none;
  border-radius: 0;
  background: transparent;
  text-align: end;
  outline: none;
  cursor: pointer;
  color: var(--medium-gray);
}

.counter__input:focus {
  box-shadow: 0 -1px 0 0 var(--medium-gray) inset;
}

.allCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 250px;
  justify-content: center;
}

@keyframes appearEven {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes appearOdd {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

.card_even {
  animation-name: appearEven;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.card_odd {
  animation-name: appearOdd;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
