.forgotPassButton {
  text-transform: none !important;
  padding: 0 8px !important;
  width: max-content;
  margin: auto;
}

.title {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
}

.content {
  display: grid;
  grid-gap: 10px;
  padding-top: 8px !important;
  width: 350px;
  max-width: 100%;
}

.actions {
  padding-bottom: 16px !important;
}
