.topic {
  padding: 12px 0;
  border-bottom: 1px solid var(--bg-color);
}

.topic:last-child {
  border-bottom: none;
}

.topic__head {
  display: grid;
  grid-template-areas: "expand title author toggle" "expand cards cards toggle";
  grid-template-columns: 34px max-content auto 34px;
  grid-gap: 4px;
  align-items: center;
  cursor: pointer;
}

.topic__head[aria-disabled="true"] {
  cursor: default;
}

.topic__expand {
  grid-area: expand;
  color: var(--medium-gray);
  transition: transform 0.2s ease-in-out;
}

.topic__expand[aria-expanded="true"] {
  transform: rotate(180deg);
}

.topic__title {
  grid-area: title;
  font-family: var(--brand-font-family);
  color: var(--black);
}

.topic__author {
  grid-area: author;
  color: var(--seagreen);
}

.topic__cards {
  grid-area: cards;
  color: var(--black);
}

.topic__toggle {
  grid-area: toggle;
  transition: color 0.2s ease-in-out;
}

.topic__content {
  display: grid;
  grid-gap: 8px;
  padding-top: 16px;
}

.card {
  background-color: var(--bg-color);
  display: grid;
  grid-gap: 4px;
  padding: 8px 16px;
  border-radius: 8px;
  color: var(--black);
  font-size: 14px;
  min-height: 64px;
}

.card > p {
  font-size: 14px;
}

.card__question {
  font-family: var(--brand-font-family);
}
