.cardContainer {
  height: calc(100% - 50px);
  margin: 24px;
  transition: margin 0.2s ease-in-out;
}

.cardContainer_arrows {
  margin: 24px 56px;
}

.card {
  background-color: var(--white);
  height: 100%;
  box-shadow: var(--shadow);
  border-radius: 8px;

  display: grid;
  align-items: center;
  grid-template-areas: "edit a del" "b content c" "share d flip";
  grid-template-columns: minmax(34px, max-content) 1fr minmax(34px, max-content);
  grid-template-rows: minmax(34px, max-content) 1fr minmax(34px, max-content);
  padding: 8px;
  position: relative;
}

.card__text {
  grid-area: content;

  max-height: 100%;
  overflow: hidden;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: var(--black);
  text-align: center;
}

.card__image {
  grid-area: content;
}

.card__del {
  grid-area: del;
}

.card__edit {
  grid-area: edit;
}

.card__share {
  grid-area: share;
}

.card__flip {
  grid-area: flip;
}

.card__del,
.card__edit,
.card__share,
.card__flip,
.card__del:hover,
.card__edit:hover,
.card__share:hover,
.card__flip:hover {
  background: var(--white);
  z-index: 10;
}

.dialog__divider {
  margin: 16px 0 8px;
}

.dialog__imageContainer {
  margin: 16px auto;
  height: max-content;
}
