.loader {
  margin-left: calc(50% - 20px);
}

.control {
  margin: 0 24px;
  display: flex;
  justify-content: flex-end;
}

.control__add {
  background: var(--seagreen) !important;
  color: var(--bg-color) !important;
}

.control__add:hover {
  opacity: 0.8;
}

.tip {
  max-width: 50vw;
  margin: -32px auto auto;
  display: flex;
  justify-content: center;
  gap: 16px;
  font-family: var(--brand-font-family);
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  color: var(--red);
}

.tip__icon_topics {
  transform: rotate(90deg);
}

.tip__icon_add {
  transform: rotate(-90deg);
}

.slider {
  margin: auto;
  width: 700px;
  max-width: 100%;
}

.card {
  position: relative;
  background-color: var(--white);
  margin: 24px;
  height: calc(100% - 70px);
  box-shadow: var(--shadow);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow-y: auto;
  transition-property: transform, margin;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.card_arrows {
  margin: 24px 55px;
}

.card__del {
  position: absolute !important;
  top: 12px;
  right: 12px;
}

.card__edit {
  position: absolute !important;
  top: 12px;
  left: 12px;
}

.arrowControl {
  margin-left: 24px;
  font-size: 16px;
  font-family: var(--brand-font-family);
  color: var(--dark-gray);
}

.arrow_hidden {
  visibility: hidden;
}
