.container {
  width: 100%;
}

.loader {
  margin-left: calc(50% - 20px);
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
  padding: 0 24px;
}

.control__add {
  background: var(--seagreen);
  color: var(--bg-color);
}

.control__add:hover {
  background: var(--seagreen);
  opacity: 0.8;
}

.control__topic {
  color: var(--black);
}

.tipContainer {
  height: 50vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.tip {
  font-family: var(--brand-font-family);
  font-size: 20px;
  text-align: center;
  line-height: 24px;
}

.tip_nowrap {
  white-space: nowrap;
}

.tip__icon_topics {
  transform: rotate(90deg);
}

.tip__icon_add {
  transform: rotate(-90deg);
}

.content {
  height: 50vh;
  padding-top: 24px;
}

.skeleton {
  margin: 0 24px 24px;
  transition: margin 0.2s ease-in-out;
}

.skeleton_arrows {
  margin: 0 56px 24px;
}

.slider {
  margin: auto;
  width: 100%;
  height: calc(100% - 24px);
  display: flex;
}

.pagination {
  position: relative !important;
}

.arrow {
  top: calc(50vh / 2 - 24px - 10px);
}

.arrow:disabled {
  visibility: hidden;
}

.arrow_prev {
  left: 12px;
}

.arrow_next {
  right: 12px;
}
