.container {
  display: flex;
}

.content {
  margin: auto;
  display: grid;
  grid-gap: 16px;
  width: 350px;
  max-width: 100%;
  background: var(--white);
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.loader {
  margin: auto;
}

.link:hover {
  text-decoration: underline;
}
