.container {
  display: grid;
  grid-gap: 200px;
}

.content {
  width: 250px;
  min-width: max-content;
  max-width: 100%;
  margin: auto;
  padding: 16px;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: var(--shadow);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.title {
  margin-top: 0;
  text-align: center;
  font-size: 20px;
  font-family: var(--brand-font-family);
  color: var(--light-red);
}

.form {
  display: grid;
  gap: 16px;
}

.input {
  width: 100%;
  font-family: var(--base-font-family);
  font-size: 14px;
  color: var(--dark-gray);
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  color: var(--medium-gray);
  font-size: 12px;
}
