:root {
  --base-font-family: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --brand-font-family: "Noto Sans";

  --seagreen: #1a8f88;
  --red: #ae0000b2;
  --light-red: rgba(174, 0, 0, 0.6);
  --dark-gray: #3c3c3c;
  --medium-gray: #777;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bg-color: #e5e5e5;

  --shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);

  --body-padding-vertical: 60px;
  --body-padding-horizontal: 40px;
}

:root.dark {
  --seagreen: #0fd4c9;
  --red: #cfcfcf;
  --light-red: #cfcfcf;
  --medium-gray: #cfcfcf;
  --dark-gray: #696969;
  --white: #696969;
  --black: rgba(255, 255, 255, 0.8);
  --bg-color: #1c1c1c;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--base-font-family);
}

body {
  padding: var(--body-padding-vertical) var(--body-padding-horizontal);
  background: var(--bg-color);
  position: relative;
}

#__next {
  display: grid;
  grid-gap: 24px;
  grid-template-rows: max-content auto;
  min-height: calc(100vh - 2 * var(--body-padding-vertical));
}

.splide__track {
  width: 100%;
}

@media (max-width: 500px) {
  :root {
    --body-padding-horizontal: 20px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Bold.woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
