.splide__arrow--prev {
  left: 0 !important;
}

.splide__arrow--next {
  right: 0 !important;
}

.MuiDialogTitle-root {
  padding: 24px 24px 16px 24px !important;
}

.MuiDialogContent-root {
  padding: 8px 24px 24px !important;
  width: 400px;
  max-width: 100%;
}

.MuiDialog-paperFullScreen .MuiDialogContent-root {
  width: 100%;
}

.MuiDialogActions-root {
  padding: 0 24px 24px !important;
}
